
	html, body{
		margin:0;
		height:100%;
		font-family:fira sans ultralight;
		background-color:#fff;
	}
	
	div{
		position:relative;
		overflow:hidden;
	}
	
	.cont{
		height:100%;
		line-height:100%;
	}
	
	.upprdisp{
		overflow:hidden;
		font-size:50%;
		line-height:100%;
	}
	
	.upprdisp button{
		width:16%;
		color:#000 !important;
		background:none !important;
	}
	
	.lowrdisp{}
	
	.lowrdisp p{
		position:absolute;
		right:0;
		margin:0;
		white-space:nowrap;
	}
	
	button{
		display:block;
		float:left;
		line-height:inherit;
		margin:0;
		border:0;
		padding:0;
		outline:0 !important;
		border-radius:0;
		width:25%;
		font-family:inherit;
		font-weight:normal;
		background:none;
		color:#000;
	}
	
	button, p{
		font-size:90%;
	}
	
	button:focus{
		padding-left:0;
		background-color:#70BF53;
		color:#fff;
	}
	
	button:active{
		padding-left:5px;
	}
	
	button::-moz-focus-inner{
		border:none; /* no tab navigation, rm 2% padding */
	}
	
	.green, .green:focus{
		background-color:green;
		color:#fff;
	}
	
	.light, .lighter{
		font-size:71%;
		color:#999;
	}
	
	.light{
		color:#666;
	}
